.notification-container {
    position: fixed;
    z-index: 1;
    display: none;
    right: 15px;
    width: 550px;
    height: 270px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: white;
}

.notification {
    display: flex;
    flex-direction: row;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 210px;
}

.close-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50px;
    height: 270px;
    margin-right: 10px;
}

div.close-btn button {
    padding: 0;
    font-size: 3em;
    border: none;
    background: none;
    outline: none;
}

div.close-btn button:hover {
    font-size: 2.8em;
    color: red;
}

.slideshow-container {
    position: relative;
    max-width: 500px;
    font-family: Verdana, Arial, sans-serif;
}

.slideshow-container h3 {
    text-align: center;
    font-size: 1.4em;
}

.slideshow-container p {
    padding-left: 10px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prev, .next {
    width: 36px;
    margin: 0 10px;
    font-size: 1.3em;
    font-weight: bold;
    color:  #6cc0e5;
    cursor: pointer;
}

.prev:hover, .next:hover {
    color: #4185e5;
    text-shadow: 0 1px 0 rgba(81, 255, 248, 0.1), 0 0 30px rgba(27, 120, 249, 1);
}

.dot {
    display: inline-block;
    height: 22px;
    width: 22px;
    padding-top: 5px;
    margin: 0 2px;
    font-size: 1em;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    color: white;
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    margin: 0 auto;
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.slider {
    width: 650px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 1em Verdana, Arial, sans-serif;
    color: black;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #6cc0e5;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
    content: '';
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
