.loader-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 10px;
  text-align: center;
  border-collapse: collapse;
  vertical-align: top;
}

.loader {
  position: relative;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -25px auto 0;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 50%);
  background: -o-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 50%);
  background: -ms-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(to right, red 10%, rgba(255, 255, 255, 0) 50%);
  -webkit-animation: loader 1.5s infinite linear;
  animation: loader 1.5s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}


.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  background: white;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
