.mySlides {
  display: none
}

.slideshow-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.dot {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0 2px;
  font-size: 1.3em;
  color: transparent;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active, .dot:hover {
  background-color: #717171;
  color: black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
  animation-name: fade;
  animation-duration: 0.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 590px;
  vertical-align: middle;
}

.navigation {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 24px;
  overflow-y: hidden;
}

.navigation-page {
  display: inline-block;
  width: 700px;
  height: 24px;
  overflow: hidden;
}

.prev, .next {
  width: auto;
  padding: 20px;
  margin-top: -22px;
  font-size: 1.4em;
  color: red;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  cursor: pointer;
}


.next {
  margin-left: 10px;
  margin-bottom: 5px;
}

.prev {
  margin-right: 10px;
}

@media screen and (min-width: 450px) and (orientation: portrait) {

  .navigation {
    height: 24px;
  }

  .navigation-page {
    width: 100px;
  }
}

@media screen and (max-device-width: 420px) and (orientation: portrait) {

  .dot {
    height: 40px;
    width: 40px;
    font-size: 2em;
  }

  .navigation {
    height: 50px;
  }

  .navigation-page {
    width: 300px;
    height: 40px;
  }

  .prev, .next {
    font-size: 2.4em;
    transition: none;
  }
}

@media screen and (max-device-height: 420px) and (orientation: landscape) {

  .dot {
    height: 40px;
    width: 40px;
    font-size: 2em;
  }

  .navigation {
    height: 50px;
  }

  .navigation-page {
    width: 300px;
    height: 30px;
  }
}
