footer {
    width: 1600px;
    height: 294px;
    background-color: #2a2a2a;
}

.footer-container {
    width: 1200px;
    height: 294px;
    margin: 0 auto;
}

section.footer-navigation {
    height: 74px;
    border-bottom: 1px solid #4a4a4a;
}

section.footer-navigation ul > li {
    font-family: 'Lato Medium', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 42px;

}

section.footer-navigation ul > li > a {
    color: #4a4a4a;
}

section.footer-navigation ul > li > a:hover {
    color: white;
    border-bottom: none;
}

section.footer-navigation ul > li:hover {
    border-bottom: none;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 134px;
    margin-top: 33px;
    padding-bottom: 17px;
    border-right: 1px solid #393939;
}

div.author > p {
    font-family: 'Lato Light', 'Arial', sans-serif;
    padding-right: 59px;
    font-size: 15px;
    line-height: 26px;
    color: #686868;
}

span.designed {
    font-family: 'Lato Light', 'Arial', sans-serif;
    color: #686868;
}

div.developer-container {
    width: 100%;
    padding-bottom: 2px;
}

span.name-author {
    font-family: 'Lato Semibold', 'Arial', sans-serif;
    font-size: 15px;
    color: #686868;
}

.bottom-functional {
    width: 500px;
    height: 134px;
    margin-top: 33px;
    padding: 0 0 17px 2px;
    border-right: 1px solid #393939;
}

.bottom-functional ul {
    display: grid;
    grid: repeat(4, 29px) / 187px 187px;
    margin-left: 13px;
    padding-top: 5px;
}

.bottom-functional ul li {
    border-bottom: none;
}

.bottom-functional ul li > a {
    display: list-item;
    font-family: 'Lato Light', 'Arial', sans-serif;
    font-size: 15px;
    color: #686868;
    list-style-image: url("../assets/images/arrowList.png");
}

.bottom-functional ul li > a:hover {
    padding-left: 5px;
    color: white;
    list-style-image: url("../assets/images/activeArrow.png");
}

.info {
    display: flex;
    flex-direction: row;
    width: 1300px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 54px 0 0 80px;
}

div.contacts p {
    width: 240px;
    padding-left: 3px;
    font-family: 'Lato Light', 'Arial', sans-serif;
    line-height: 29px;
    font-size: 15px;
    color: #686868;
}

div.contacts > a > div > i ~ span {
    font-family: 'Lato Light', 'Arial', sans-serif;
    font-size: 15px;
    color: #686868;
}

div.contacts > a > div > i ~ span.phone {
    font-family: 'Lato Semibold', 'Arial', sans-serif;
    font-size: 14px;
    color: #686868;
}

.grey-logo {
    margin-left: 2px;
}

a {
    text-decoration: none;
}

div.contacts > a > div > i {
    margin-right: 9px;
    font-size: 13px;
    color: #686868;
}

div.contacts > a > div {
    padding-left: 3px;
}

i.fa-phone {
    margin-bottom: 14px;
    transform: rotate(90deg);
}

.email-container {
    margin-bottom: -10px;
}
