body {
    width: 1600px;
    margin: 0 auto;
}

header {
    width: 1600px;
    height: 1064px;
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("../assets/images/server.jpg") no-repeat;
}

ul li {
    display: inline;
    margin: 0 0 0 65px;
    padding: 0 0 32px 0;
    font-family: 'Lato Medium', sans-serif;
    font-size: 15.9px;
    color: white;
    cursor: pointer;
}

ul li > a {
    color: white;
}

li:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.71);
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 86px;
    padding-top: 4px;
    border-bottom: 1px solid #29292b;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 90px;
}

.logo {
    margin: 2px 0 0 7px;
}

.hello {
    width: 600px;
    margin: 328px auto 0 auto;
    padding-left: 6px;
}

.hello h1 {
    height: 44px;
    padding-top: 3px;
    font-family: 'Lato','Arial', sans-serif;
    letter-spacing: 1px;
    font-size: 65px;
    color: white;
    text-align: center;
}

.hello p {
    font-family: 'Georgia','Arial', sans-serif;
    font-style: italic;
    font-size: 32px;
    line-height: 47px;
    color: white;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 342px 0 0 0;
    font-family: 'Lato Medium','Arial', sans-serif;
}

.login {
    position: relative;
    z-index: 1;
    width: 703px;
    height: 75px;
    padding: 45px 0 0 230px;
    background: #21424a;
    font-family: 'Lato','Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
}

.login:before {
    position: absolute;
    top: 0;
    left: 745px;
    width: 40px;
    border-top: 120px solid #21424a;
    border-right: 27px solid transparent;
    content: '';
}

.register {
    width: 820px;
    height: 75px;
    padding: 45px 176px 0 0;
    background: #2fac6c;
    position: relative;
    text-align: center;
    border: none;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-left: -5px;
}

a.login:hover,a.register:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
