@font-face {
    font-family: "Monserrat UltraLight";
    src: url("../assets/fonts/Montserrat-Light.ttf");
}

.domain-container {
    width: 1600px;
    height: 578px;
}

.domain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 500px;
    margin: 0 auto;
    padding: 24px 0 0 0;
}

.domain h3 {
    padding: 2px 0 0 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 24px;
    height: 27px;
}

.domain span {
    font-family: 'Monserrat UltraLight', 'Arial', sans-serif;
    font-size: 15.7px;
    color: grey;
}

.input-domain {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 886px;
    height: 50px;
    margin: 48px 0 0 0;
    border: 1px solid #d5d5d5;
}

.input-domain input {
    width: 713px;
    height: 21px;
    padding: 5px 0 5px 15px;
    font-family: 'Lato Semibold', 'Arial', sans-serif;
    font-size: 15px;
    color: #868686;
    border: 0;
    outline: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.input-domain select {
    width: 56px;
    height: 30px;
    margin: 0 0 0 17px;
    font-family: 'Lato Semibold', 'Arial', sans-serif;
    font-size: 17px;
    color: #cbcbcb;
    background: url('../assets/images/arrow.png') no-repeat right white;
    border: 0;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.input-domain option {
    color: #d5d5d5;
}

.input-domain span {
    font-family: 'Lato Semibold', sans-serif;
    color: #cbcbcb;
    margin-right: 13px;
    padding-left: 15px;
    font-size: 14.7px;
}

.table {
    display: grid;
    grid: 76px 76px / 205px 225px 225px 205px;
    justify-content: center;
    width: 846px;
    height: 153px;
    padding: 20px 20px;
    margin: 40px 0 0 0;
    border: 1px solid #d9d9d9;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
}

.item span {
    width: 100%;
    height: 40px;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #cbcbcb;
    font-size: 14px;
    text-align: center;
}

.item:not(:nth-child(4n + 1)) {
    border-left: 1px solid #d9d9d9;
}

.item:nth-child(n + 5) {
    border-top: 1px solid #d9d9d9;
}

.item:nth-child(n + 5) {
    border-top: 1px solid #d9d9d9;
}

div.item:nth-child(n+5)::after {
    position: relative;
    left: 6px;
    top: -39px;
    width: 13px;
    height: 12px;
    justify-content: space-between;
    background: white;
    content: '';
}

.top {
    padding: 5px 0 0 5px;
}

.bottom {
    padding: 40px 0 0 15px;
}

.special-item {
    padding-right: 10px;
}

.plan {
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 765px;
    background: url("../assets/images/laptop.jpg") no-repeat;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 667px;
    margin: 99px auto 0 auto;
    border-bottom: 1px dashed #d7d7d7;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 256px;
    height: 561px;
    margin: 4px 0 0 0;
    font-size: 13px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.item-card h3 {
    font-family: 'Lato Bold', 'Arial', sans-serif;
    font-size: 15px;
}

.yellow-card {
    border-top: 5px #f9d423 solid;
}

.grey-card {
    border-top: 5px #7f8c8d solid;
}

.red-card {
    border-top: 5px #f85f40 solid;
}

.green-card {
    border-top: 5px #1abc9c solid;
}

.circular-chart {
    display: block;
    width: 56px;
    height: 53px;
    margin: 35px 3px 0 0;
    padding: 0 0 4px 0;
}

.circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

i.fa-anchor {
    font-size: 11px;
    padding-left: 12px;
    color: #f9d423;
}

i.fa-star-half-alt {
    font-size: 11px;
    padding-left: 12px;
    color: #7f8c8d;
}

i.fa-star {
    font-size: 10px;
    padding-left: 12px;
    color: #f85f40;
}

i.fa-gem {
    font-size: 10px;
    padding-left: 12px;
    color: #1abc9c;
}

.yellow-circle {
    stroke: #f9d423;
}

.grey-circle {
    stroke: #7f8c8d;
}

.red-circle {
    stroke: #f85f40;
}

.green-circle {
    stroke: #1abc9c;
}

.icon {
    font-size: 16px;
    margin: 14px 0 0 13px;
    transform: rotate(-45deg);
}

.plan-description {
    display: grid;
    grid: 34px 37px 40px repeat(2, 37px) repeat(2, 40px)/  170px 30px;
    align-items: center;
    justify-content: center;
    height: 270px;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 17px;
    text-align: left;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.yellow-color {
    color: #f9d423;
}

.grey-color {
    color: #7f8c8d;
}

.red-color {
    color: #f85f40;
}

.green-color {
    color: #1abc9c;
}

.grey-color-text {
    color: #dcdcdc;
}

.number {
    text-align: right;
}

.many-numbers {
    margin-right: 10px;
}

.select-plan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    margin-top: 26px;
}

.cost {
    font-family: 'Lato Bold', 'Arial', sans-serif;
    font-size: 28px;
}

span.dollar {
    font-family: 'Lato - Heavy', 'Arial', sans-serif;
    font-size: 17px;
    padding-top: 3px;
}

span.per-cost {
    font-family: 'Lato Regular', 'Arial', sans-serif;
    font-size: 13px;
}

.select-plan-btn {
    margin-top: 20px;
    font-family: 'Lato Bold', 'Arial', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 15px;
    background: none;
    border: none;
}

a.yellow-btn:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(81, 255, 248, 0.1), 0 0 30px rgba(249, 212, 35, 1);
}

a.grey-btn:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(81, 255, 248, 0.1), 0 0 30px rgb(127, 140, 141);
}

a.red-btn:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(81, 255, 248, 0.1), 0 0 30px rgb(248, 95, 64);
}

a.green-btn:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(81, 255, 248, 0.1), 0 0 30px rgb(26, 188, 156);
}

.bottom-border-yellow {
    border-bottom: 3px solid #f9d423;
}

.bottom-border-grey {
    border-bottom: 3px solid #7f8c8d;
}

.bottom-border-red {
    border-bottom: 3px solid #f85f40;
}

.bottom-border-green {
    border-bottom: 3px solid #1abc9c;
}

.container-cost {
    display: flex;
    justify-content: center;
    width: 100px;
    padding-left: 3px;
}

.about-me-section {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}

div.about-me-desctiption {
    width: 522px;
    height: 188px;
    margin-bottom: 9px;
    border-right: 1px dashed #d7d7d7;
}

div.about-me-desctiption p {
    font-family: 'Lato Thin', 'Arial', sans-serif;
    font-size: 18px;
    color: #747474;
    text-align: justify;
    line-height: 27px;
    padding-right: 98px;

}

span.about-span {
    font-family: "Lato Black", 'Arial', sans-serif;
    font-size: 35px;
    color: #303030;
}

span.us-span {
    font-family: 'Lato Semibold', sans-serif;
    font-size: 35px;
}

.persons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 570px;
    height: 200px;
    margin: 0 auto 14px 100px;
}

div.person {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

div.person img {
    border-radius: 50%;
    border: 5px solid #e5e5e5;
}

div.person span {
    display: block;
    text-align: center;
}

.name {
    font-family: 'Lato Semibold', 'Arial', sans-serif;
    font-size: 17px;
    color: #303030;
    padding-top: 11px;
    margin-bottom: 3px;
}

.position {
    font-family: 'Lato Regular', 'Arial', sans-serif;
    font-size: 15px;
    color: #8e8e8e;
    margin-bottom: 15px;
    padding-top: 2px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 85px;
    margin: 10px 12px 0 auto;
    font-size: 14px;
    color: #bfbfbf;
}

.social > a {
    color: #bfbfbf;
}

.fa-link {
    transform: rotate(90deg);
    font-size: 14px;
}

.special-link {
    color: #1f89ba;
}

.special-social-aling {
    margin: 4px 24px 0 auto;
}

.special-name {
    padding-right: 5px;
}

.spacial-position {
    padding-left: 6px;
}

.spacial-person {
    margin-left: 3px;
}

.special-image {
    margin-left: 5px;
}

.functions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 342px;
}

.list-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1217px;
    height: 184px;
    padding: 2px 0 0 2px;
}

.function {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 158px;
    margin-top: 16px;
}

.circle {
    width: 61px;
    height: 60px;
    border-radius: 50%;
}

.yellow-function {
    background: #f1c40f;
}

.blue-function {
    background-color: #0faff1;
}

.grey-function {
    background-color: #95a5a6;
}

.red-function {
    background-color: #f1540f;
}

span.function-title {
    font-family: 'Lato Heavy', 'Arial', sans-serif;
    font-size: 18px;
    color: #303030;
    margin-top: 10px;
}

span.function-description {
    font-family: 'Lato Light', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #7e7e7e;
    padding-bottom: 10px;
}

i.fa-bolt {
    color: #ffffff;
    font-size: 25px;
    margin: 19px 0 0 22px;
}

i.fa-cloud {
    font-size: 24px;
    color: #ffffff;
    margin: 17px 0 0 16px;
}

i.fa-arrows-alt {
    font-size: 27px;
    color: #ffffff;
    margin: 17px 0 0 17px;
}

i.fa-comments {
    font-size: 23px;
    color: #ffffff;
    margin: 19px 0 0 19px;
}

.slider {
    width: 1600px;
    height: 190px;
    background: black;
}

