.carousel {
    width: 1600px;
    height: 190px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    position: absolute;
    z-index: 10;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 190px;
    margin: 0 auto;
    padding: 0 7px 44px 0;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    background: white;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #ff0000;
}

p.text-slider {
    position: absolute;
    z-index: 1;
    width: 886px;
    height: 49px;
    padding-bottom: 87px;
    font-family: 'Lato Thin', 'Arial', sans-serif;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.navigation-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.circle-slider {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid white;
}

.name-slider {
    width: 100px;
    height: 16px;
    padding-right: 7px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    line-height: 20px;
    border-right: 1px solid #979797;
}

ol.carousel-indicators li:not(.name-slider) {
    padding-bottom: 5px;
    margin-left: 3px;
}

ol.carousel-indicators li:hover {
    border-bottom: none;
}

ol.carousel-indicators li {
    margin: 0 4px;
}
